*{

    margin: 0px;
    padding:2px;
}
h1{

    font-size: 46px;
}
.texta{

    font-size: 37px;
}




.text{

    margin-left: 25px;;
    
}

.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
  


}

.half-width img{

    width: 100%;
    padding:35px;



}
.Hire{

text-decoration: none;
font-size: 19px;
border-radius: 5px;
color:black;
font-weight: 700;
background-color:orange;
padding: 10px 20px 10px 30px;
margin-left: 39px;

}
.text1{

    color: orangered;
}


.blog img{

    width: 100%;
}
.blog{

    float:right;
    width: 30%;
    margin: 0px;
    display: inline;
    margin-right: 7px;
    
   
}
.text{

    font-size: 18px;
    
}
.color{

    color:orangered;
}
